/* Table.module.css */

:root {
  --header-hover: #555;
  --header-hover-text: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  height: 80vh;
}

.header {
  width: 20px;
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.ticker:hover,
.price:hover,
.assetClass:hover {
  background-color: var(--header-hover);
  color: var(--header-hover-text);
  user-select: none;
}