.row {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
}

.row:not(:last-child) {
  margin-bottom: 50px;
}

.equities {
  background-color: #73a7e0;
}

.macro {
  background-color: #ffffff;
}

.credit {
  background-color: #88d188;
}

.positive {
  color: blue;
}

.negative {
  color: red;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
}