.row {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  text-align: center; /* Center text */
  padding: 10px 0; /* Add vertical spacing */
}

.row:not(:last-child) {
  margin-bottom: 50px; /* Add margin bottom to all rows except the last one */
}

.equities {
  background-color: #73a7e0; /* Light blue */
}

.macro {
  background-color: #ffffff; /* White */
}

.credit {
  background-color: #88d188; /* Light green */
}

.positive {
  color: blue;
}

.negative {
  color: red;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
}